.ctrbar_btn{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px 0 20px 0;
    width: 100%;
}
.ctrbar_wth{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 50%;
}
.ctrbar_wth button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    width: 10%;
    color: white;
    cursor: pointer;
    font-weight: bold;
}
.ctrbar_wth button p{
    margin: 0;
    font-size: 15px;
}