.imgf_wth{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}
.imgf_div {
    width: 73vw;
    column-count: 3; /* Ajustez le nombre de colonnes en fonction de vos besoins */
    column-gap: 10px; /* Ajoutez une marge entre les colonnes */
}

.img_feed_card {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px; /* Ajoutez une marge en bas de chaque carte */
    position: relative;
    cursor: pointer;
}

.img_ctn_src{
    width: 100%;
    height: 100%;
}

.overlay_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.226); /* Ajoutez un fond semi-transparent */
    color: white;
    padding: 10px;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
}

.image-container {
    overflow: hidden; /* Pour gérer le dépassement éventuel des images */
}

.img_feed_card img {
    width: 100%;
    height: auto;
    display: block; /* Pour supprimer l'espace blanc sous l'image */
}

.imgf_big{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    z-index: 12;
    background-color: rgb(14, 14, 14);
}

.imgf_big p{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 50px;
    z-index: 13;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0);
}
.imgf_big p:hover{
    background-color: rgba(255, 255, 255, 0.158);
    border: 2px solid rgba(255, 255, 255, 0.137);
}

.imgf_big_hidden{
    display: none;
}

.imgf_big img{
    /* max-height: 90%; */
    max-width: 90%;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}