.imgf_wth{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.imgf_div{
    display: flex;
    flex-wrap: wrap;
    width: 73vw;
    justify-content: center;
}
.img_feed_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}