.imgf_wth{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.imgf_div{
    display: flex;
    flex-wrap: wrap;
    width: 73vw;
    justify-content: center;
}
.img_feed_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 25%;
}
.img_feed_card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
}