nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('https://images.pexels.com/photos/14735153/pexels-photo-14735153.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=500&w=1400&dpr=1');
    object-fit: cover;
    min-height: 300px;
    margin: 0;
}
nav h1{
    font-size: 30px;
    color: white;
}